/* You can add global styles to this file, and also import other style files */

/*修改框架默认样式*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}
.ant-input{
    font-size: 15px !important;
}
/*修改大号输入框高度，大号按钮高度*/
.ant-input-lg,.ant-btn-lg{
    height: 40px !important;
}
.ant-btn{
    font-weight: 300 !important;
}
.ant-checkbox-wrapper + span, .ant-checkbox + span{
    font-size: 13px;
}
